{% extends "base.html" %}

{% block content %}
 <p class="font-35 instructions-margin"><span class="logo__wide-part">Задавайте вопросы</span> или просто пишите сообщения <span class="hello-description_fast">на досках</span></p>
<div class="instructions">

    <p class="instruction">1. Не тратьте время на регистрацию — здесь можно писать анонимно</p>
    <p class="instruction">2. Чтобы выйти из аккаунта, перейдите на свою страницу и нажмите на имя вашего профиля</p>
    <p class="instruction">3. Ищите других пользователей, кликая по их именам в обсуждениях</p>
    <p class="instruction">4. Когда вам кто-то ответит, в вашем профиле появится раздел «Ответы», кнопки которого ведут к вашему сообщению в ветках, можете удалить этот раздел, нажав соответствующую кнопку профиля</p>
    <p class="instruction">5. Помимо очевидных функций, вы можете завладеть анонимными сообщениями, использую соответствующую кнопку «Присвоить»</p>
    <p class="instruction">6. Чтобы получить возможность завладеть сообщением позже, при его отправке необходимо ввести секретное слово в нижнее поле формы</p>
</div>

<p class="font-35 instructions-margin"><span class="logo__wide-part">Для</span> <span class="hello-description_fast">администраторов</span></p>
<div class="instructions">
    <p class="instruction">1. Чтобы создать новую доску, воспользуйтесь формой по адресу /post/desk</p>
    <p class="instruction">2. Чтобы создать новую ветку, воспользуйтесь формой по адресу /post/thread</p>
    <p class="instruction">3. Чтобы удалить ветку или доску, воспользуйтесь страницей /delete/thread(desk)/(идентификатор)</p>
    <p class="instruction">4. Необходимо самостоятельно загружать картинку на сервер, если она предназначается для доски или ветки, ее название должно совпадать с идентификатором доски или ветки</p>
</div>
{% endblock %}
