{% extends "base.html" %}

{% block content %}
 <p class="font-35 instructions-margin"><span class="logo__wide-part">Задавайте вопросы</span> или просто пишите сообщения <span class="hello-description_fast">на досках</span></p>
<div class="instructions">

    <p class="instruction">1. Этот сервис находится на этапе раннего доступа</p>
    <p class="instruction">2. Не тратьте время на регистрацию — здесь можно писать анонимно</p>
    <p class="instruction">3. Перемещаться по страницам обсуждений можно с помощью тругольных кнопок сверху. Рядом с ними указывается диапазон идентификаторов отображаемых на данный момент сообщений (не более 25 в главной ветке), а также суммарное количество сообщений во всей ветке</p>
    <p class="instruction">4. Чтобы при редактировании открепить картинки от сообщения, необходимо навестись на них и нажать левую кнопку мыши</p>
    <p class="instruction">5. При отправке анонимного сообщения, вы можете указать ключ в нижнее поле формы отправки — после входа в учетную запись, при просмотре вашего анонимного сообщения, вы увидите кнопку «Присвоить», нажав которую и введя ранее указанный текстовый ключ, вы сможете стать автором данного сообщения</p>
    <p class="instruction">6. Чтобы выйти из аккаунта, перейдите на свою страницу и нажмите на имя вашего профиля</p>
    <p class="instruction">7. Ищите других пользователей, кликая по их именам в обсуждениях</p>
    <p class="instruction">8. Когда вам кто-то ответит, в вашем профиле появится раздел «Ответы», кнопки которого ведут к вашему сообщению в ветках, можете удалить этот раздел, нажав соответствующую кнопку профиля</p>
    <p class="instruction">9. Чтобы получить возможность завладеть сообщением позже, при его отправке необходимо ввести секретное слово в нижнее поле формы</p>
</div>


<div class="instructions">
    <p class="font-35"><span class="logo__wide-part">Для</span> <span class="hello-description_fast">администраторов</span></p>
    <p class="instruction">1. Чтобы создать новую доску, воспользуйтесь формой по адресу /post/desk</p>
    <p class="instruction">2. Чтобы создать новую ветку, воспользуйтесь формой по адресу /post/thread</p>
    <p class="instruction">3. Чтобы удалить доску, перейдите по адресу /delete/desk/(идентификатор)</p>
    <p class="instruction">4. Чтобы удалить ветку, перейдите по адресу /delete/thread/(идентификатор доски)/(идентификатор)</p>
</div>
{% endblock %}
